@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,1&display=swap');

body {
  font-family: 'Geologica', sans-serif;
}

:root {
  --Black: #171717;
  --Pink: #C15191;
  --Green: #198F76;
  --White: #FFFFFF;
  --Blue: #799FCC;
  --Text-Grey: #888686;
  --Pink-Button-Hover: #EE64B3;
  --BG-Black: #2A2A2A;
  --font-family: Geologica, sans-serif;
}

.app {
  position: relative;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 30px;
  max-width: 680px;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.paragraph:last-of-type {
  margin-bottom: 50px;
}

.section-projects,
.section-mission,
.section-team {
  background-color: var(--BG-Black);
}