.header {
    position: sticky;
    top: 0px;
    background-color: var(--White);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list {
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: var(--Black);
}

.header-nav-item:not(:last-child) {
    margin-right: 40px;
}

/* .header-nav-link {
    text-decoration: ;
} */

.lang-change {
    margin-right: 52px;
}

.lang-change-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--Black);
    border-radius: 50%;
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}


.lang-change-btn:hover {
    color: var(--White);
    background-color: var(--Pink-Button-Hover);
}

.lang-change-btn:not(:last-child) {
    margin-right: 20px;
}

.lang-change-btn--active {
    color: var(--White);
    background-color: var(--Pink);    
    border-radius: 50%;
}