.hero-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-title {
    margin-bottom: 40px;
}

.hero-subtitle {
    font-size: 25px;
    font-weight: 300;
    line-height: 37.5px;
    color: var(--Text-Grey);
    margin-left: 400px;
    margin-bottom: 30px;
    max-width: 480px;
}

.hero-btn {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: var(--White);
    background-color: var(--Pink);
    border-radius: 50px;
    margin-left: 400px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 480px;
}