.projects-container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 880px;
    margin-left: auto;
}

.projects-subtitle {
    color: var(--White);
    margin-bottom: 39px;
}

.paragraph-projects {
    color: var(--White);
}

.project-img {
    margin-bottom: 40px;
}